.catTagMessage {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin-top: 24px;
    position: relative;
}

.catImage {
    width: 80px;
    height: auto;
}

.speechBubble {
    position: relative;
    display: flex;
    align-items: center;
}

.chatboxImage {
    width: 200px;
    height: auto;
}

.chatText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    width: 140px;
    font-size: 14px;
    line-height: 1.4;
}